/* Dégradé de fond du bleu vers le noir pour la partie supérieure */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    font-family: "Georgia", "Times New Roman", serif;
}
body {
    background: linear-gradient(to bottom, #14213D, #000000);
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

header .overlay {
    background: rgba(0, 0, 0, 0.6); /* Overlay dark effect */
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    transition: opacity 0.3s ease-in-out;
}

main {
    flex: 1;
    padding: 20px;
    transition: padding 0.3s ease;
}

.search-container {
    text-align: center;
    margin-bottom: 40px;
}

.search-container h2 {
    color: #FCA311;
    font-size: 2rem;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.search-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.search-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.search-field:focus {
    transform: scale(1.05);
    border-color: #FCA311;
}

.search-button {
    padding: 10px 20px;
    background-color: #FCA311;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: #D38B00;
    transform: scale(1.1);
}

#vehicule-list, #vehicule-list-personel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    transition: gap 0.3s ease;
}

.car-item {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.car-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.car-item:hover img {
    transform: scale(1.05);
}

.car-details {
    padding: 15px;
    transition: opacity 0.3s ease-in-out;
}

.car-details h3 {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.car-details p {
    color: #555;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    margin-top: auto;
    transition: background-color 0.3s ease;
}
h3{
    text-align: center;
}